<nav class="flex items-center justify-between flex-wrap bg-black p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="/" class="font-semibold text-xl tracking-tight">Tournaments App</a>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/teams" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
        Teams
      </a>
      <a href="/players" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
        Players
      </a>
    </div>
  </div>
</nav>
