<!DOCTYPE html>
<html>
  <head>
    <title>Tournaments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <main class="container mx-auto mt-8">
      <%= yield %>
    </main>
  </body>
</html>
